* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.projekte,
.impressum, 
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;

}

.services {
  background-image: url("img/Office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projekte {
  background-image: url("img/Office.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("img/Office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.impressum{
  /*background-image: url("img/Office.jpg"); */
  /*background-color: lightcoral;*/
  background-position: center;
  background-size: 10px 10px;
  background: border-box red;
}

#naming{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
}


#kontaktinformationen{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
  margin-bottom: 16px;
}